@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
body{
    background-color: #000;
}
.cover{
    padding: 70px 30px 30px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.cover:nth-child(2){
    background-image: url("./Assets/BG-IMG\ 1.avif");
}
.cover:nth-child(3){
    background-image: url("./Assets/BG-IMG\ 2.avif");
}
.cover:nth-child(4){
    background-image: url("./Assets/BG-IMG\ 3.avif");
}
.cover:nth-child(5){
    background-image: url("./Assets/BG-IMG\ 4.avif");
}
.cover:nth-child(6){
    background-image: url("./Assets/BG-IMG\ 5.avif");
}
.cover:nth-child(7){
    background-image: url("./Assets/BG-IMG\ 6.avif");
}
.cover:nth-child(8){
    background-image: url("./Assets/BG-IMG\ 7.avif");
}
.cover:nth-child(9){
    background-image: url("./Assets/BG-IMG\ 8.avif");
}
.cover:nth-child(10){
    background-image: url("./Assets/BG-IMG\ 9.avif");
}
.cover .top {
    width: 100%;
}
.cover .top h1,.cover .top h2,.cover .top p{
    color: white;
}
.cover .top h1{
    font-size: 56px;
    letter-spacing: -2px;
}
.cover .top h2{
    font-size: 26px;
    margin: -5px 0 7px;
    cursor: pointer;
    letter-spacing: -1px;
    font-weight: 700;
}
.cover .top p{
    font-size: 16px;
    font-weight: 600;
}
.cover .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.cover .bottom button{
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    font-weight: bold;
}
.cover .bottom button:nth-child(1){
    background-color: #3d6ae1;
    color: #fff;
}
.cover .bottom button:nth-child(2){
    background-color: #fff;
    color: #393c41;
}
.cover:nth-child(6) .top svg{
    width: 450px;
}
.cover:nth-child(6) .bottom button{
    transition: all .3s ease-in-out;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    color: #a2a3a5;
}
.cover:nth-child(6) .bottom button:hover{
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(1px);
}
.cover:nth-child(6) .bottom button:nth-child(1){
    box-shadow: 0 2px 0 #828383 inset;
}
.cover:nth-child(6) .bottom button:nth-child(2){
    outline: 1px solid #393c41;
}
nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 500;
}
nav svg{
    width: 120px;
}
.footer{
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-size: 12px;
    width: 55%;
    line-height: 17px;
}
.footer p span{
    font-weight: bolder;
    text-decoration: underline;
}
footer{
    width: 100%;
    color: white;
    padding: 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    gap: 20px;
}
@media screen and (max-width: 600px) {
    .cover .bottom button{
        width: 50%;
    }
    .cover .top h1{
        font-size: 42px;
    }
    .cover .top h2{
        font-size: 24px;
    }
    .cover:nth-child(6){
        background-position: middle;
    }
    .cover:nth-child(6) .top svg{
        width: 300px;
    }
}
@media screen and (max-width: 400px) {
    .cover:nth-child(6) .top svg{
        width: 250px;
    }
}